.the-footer-categories {
    display: flex;

    .the-left-footer,
    .the-right-footer {
        flex-basis: 50%;
    }

    .the-left-footer {
        display: flex;
        flex-wrap: wrap;

        .quicklinks-box {
            flex-basis: 33%;
        }
    }

    .the-right-footer {

        img {
            max-width: 100%;
        }

        .grown-with-care {
            padding: 0 1vw;

            h3 {
                color: #54765e;
                border-bottom: 3px white solid;
                padding: 0 0 .5vw;
                font-family: 'Lora';
                font-size: 1.1vw;
            }

            p {
                color: #54765e;
            }
        }

    }
}